* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 17px;
}
body {
  color: #926239;
  line-height: 1.6;
  text-align: center;
}
.header {
  min-height: 100vh;
  background-image: url(../images/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 35vh;
}
.header-title {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
}
.header-p {
  font-size: 20px;
  margin: 10px;
}
.link {
  display: inline-block;
  font-size: 18px;
  color: inherit;
  border: 1px solid #926239;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
}
.section {
  padding: 20px;
}
.footer {
  text-align: initial;
}
.alt-section-colors {
  background-color: #926239;
  color: #fff;
}
.small-section{
  display: inline-block;
  width: 33%;
}

