* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #926239;
  font-size: 17px;
  line-height: 1.6;
  text-align: center;
}
.header-background-img {
  height: 100vh;
  background-image: url(../images/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 35vh; 
}

.header-title {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
}
.header-p {
  font-size: 20px;
  padding: 10px;
}
.link {
  display: inline-block;
  font-size: 18px;
  color: inherit;
  border: 1px solid #926239;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #fff;
  text-decoration: none;
}
.main-section-1 {
  color: #fff;
  background-color: #926239;
  padding: 20px;
}
.main-section-2 {
  padding: 20px;
}
.footer {
  text-align: initial;
}
.footer-section-1 {
  display: inline-block;
  width: 33%;
  background-color: #926239;
  color: #fff;
  padding: 20px;
}
.footer-section-2 {
  display: inline-block;
  display: inline-block;
  width: 33%;
  padding: 20px;
}
.footer-section-3 {
  display: inline-block;
  background-color: #926239;
  color: #fff;
  width: 33%;
  padding: 20px;
}
